* {
        margin: 0;
        padding: 0;
        font-size: 16px;
        box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width:100%;
}

body {
    font-family: arial, sans-serif;
    background-color: orange;
}

header {
    background-color: gray;
}

header,
footer {
    text-align: center;
}

/* typography */

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h1,
h2,
p,
li {
    padding-bottom: 1em;
}

.item {
    background-color: lightblue;
    padding: 1%;
    margin: 1%;
    margin-bottom: 40px;
    border-radius: 10px;
}

main {
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}

.item li {
    margin-left: 30px;
}

blockquote p {
    text-transform: uppercase;
}

nav li {
    display: inline-block;
}

nav a {
    background-color: white;
    color:#000000;
    padding: 10px;
}

nav a:hover {
    background-color: black;
    color: white;
}

@media screen and (min-width: 600px) {

    body {
        background-color: red;
    }

    .item {
        background-color: white;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: black;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .item {
        background-color: rgb(255, 235, 205);
    }

    h2 {
        font-family: 'Shadows Into Light Two', cursive;}
}