* {
        margin: 0;
        padding: 0;
        font-size: 16px;
        box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width:100%;
}

body {
    font-family: arial, sans-serif;
    background-color: orange;
}

header {
    background-color: gray;
}

header,
footer {
    text-align: center;
}

/* typography */

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h1,
h2,
p,
li {
    padding-bottom: 1em;
}

.item {
    background-color: lightblue;
}